.movie-list-container {
  padding: 20px;
  margin: 2px;
  width: 58%;
}

.movie-card {
  /* border: 1px solid #ccc; */
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 15px;
  width: 77%;
}

.movie-card img {
  max-width: 176px;
  height: auto;
  border-radius: 0px;
  margin-bottom: 10px;
  cursor: pointer;
}

.movie-list {
  height: 800px;
  overflow-y: auto;
}

.movie-list-container {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.movie-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}

.movie-rating {
  font-size: 4px;
  color: #666;
}
.movie-card-container {
  transition: transform 0.2s ease-in-out;
}

.movie-card-container:hover {
  transform: scale(1.05);
}
